
<form action="/new" method = post>
  <ul>
    <li>
      <input type="text" name="recipe_name" value="<%= @recipe_name %>">
    </li>
    <li>
      <input type="text" name="recipe_description" value="<%= @recipe_description %>">
    </li>
      <li>
        <input type="submit">
      </li>
  </ul>
</form>

